# Data acquisition
*Ce notebook va chercher les données depuis l'API et il explicite aussi où sont stockées les données*

In [1]:
from ift6758.data import fetch_all_seasons_regular

**On telecharge localement le jeu de données**

*Attention! La cellule ci-dessous prend beaucoup de temps à run, c'est normal*

In [ ]:
fetch_all_seasons_regular(2016,2021)

Erreur 404 lors du téléchargement.
Arrêt à la partie 1231, fin de la saison détectée.

In [5]:
# TODO fetch les donnees pour les playoffs

*On charge les données brutes pour deux parties seulement pour avoir un aperçu du jeu de donnée*

In [5]:
from ift6758.data import load_cached_plays_raw_dataframe

df_raw = load_cached_plays_raw_dataframe(2016, game_type=2, max_games=2)
df_raw

,gameId,eventId,typeDescKey,period,timeInPeriod,teamId,x,y,shotType
0,2016020001,5,period-start,1,00:00,NaN,NaN,NaN,None
1,2016020001,6,faceoff,1,00:00,10.0,0.0,0.0,None
2,2016020001,51,stoppage,1,00:05,NaN,NaN,NaN,None
3,2016020001,7,faceoff,1,00:05,10.0,69.0,23.0,None
4,2016020001,201,takeaway,1,00:43,10.0,-81.0,38.0,None
...,...,...,...,...,...,...,...,...,...
642,2016020002,702,faceoff,3,19:41,19.0,0.0,0.0,None
643,2016020002,703,hit,3,19:51,16.0,95.0,14.0,None
644,2016020002,625,blocked-shot,3,19:59,19.0,57.0,-14.0,None
645,2016020002,626,period-end,3,20:00,NaN,NaN,NaN,None
646,2016020002,630,game-end,3,20:00,NaN,NaN,NaN,None

In [ ]:
# TODO plus tard faudra séparer en training set et testing set